.link_inline{
    display: inline !important;
}

.merienda
{
	font-family: 'Merienda', cursive ;
}
.fredericka
{
	font-family: 'Fredericka the Great', cursive ;
}
.cinzel
{
font-family: 'Cinzel Decorative', cursive ;
}


.dance
{
	font-family: 'Dancing Script', cursive; 
}